[client]
port=3306
socket=/tmp/mysql.sock
default-character-set=utf8


[mysqld]
user=mysql
port=3306
datadir=/data/application/mysql/data
socket=/tmp/mysql.sock
log_timestamps=SYSTEM
character-set-server=utf8
default_storage_engine=Innodb
default_password_lifetime=0

skip-external-locking
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
skip_name_resolve=1
thread_stack=512k
key_buffer_size=2048M
query_cache_size=128M
tmp_table_size=512M
max_heap_table_size=128M
sort_buffer_size=16M
read_buffer_size=256M
read_rnd_buffer_size=2M
bulk_insert_buffer_size=64M
event_scheduler=on
back_log=700
slow-query-log=on     
slow_query_log_file=/var/log/mysql-slow.log
long_query_time=2

innodb_buffer_pool_size=10G
innodb_log_file_size=1024M
innodb_log_files_in_group=2
innodb_log_buffer_size=6M
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=2
innodb_open_files=800
innodb_file_io_threads=4
innodb_io_capacity=2000
innodb_io_capacity_max=6000
innodb_lru_scan_depth=2000
innodb_thread_concurrency=0
innodb_autoinc_lock_mode=2
max_allowed_packet=32M
max_connect_errors=200
max_connections=1500
sql_mode='NO_AUTO_VALUE_ON_ZERO,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,PIPES_AS_CONCAT,ANSI_QUOTES'

server-id=2
#slave-skip-errors=all
slave-skip-errors=1007,1008,1053,1062,1213,1158,1159
read-only=1
relay-log=slave-relay-bin
relay_log_recovery=1
log_slave_updates=1
master-info-repository=TABLE
relay-log-info-repository=TABLE
sync-master-info=1
binlog-checksum=CRC32
master-verify-checksum=1
slave-sql-verify-checksum=1
replicate-wild-ignore-table=mysql.%
replicate-wild-ignore-table=performance_schema.%
replicate-wild-ignore-table=information_schema.%



[mysqld_safe]
log-error=/var/log/mysql.log
pid-file=/var/run/mysql.pid

# include all files from the config directory
!includedir /etc/my.cnf.d
