[Unit]
Description=nginx
After=network.target
  
[Service]
Type=forking
ExecStart=/data/application/nginx/sbin/nginx
ExecReload=/data/application/nginx/sbin/nginx -s reload
ExecStop=/data/application/nginx/sbin/nginx -s quit
PrivateTmp=true
  
[Install]
WantedBy=multi-user.target
